html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: rgb(0, 102, 77);
}

.nav-image {
  background: url("../img/nav-background.jpg") no-repeat center;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -5;
  top: 0;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: -20px;
}

.nav-textbox {
  background-color: rgba(0, 102, 77, 0.5);
  height: 15vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.25);
}

.intro-text {
  margin-top: 20px;
  text-align: center;
}

.intro-text h3, p, em {
  margin: 0;
}

.background {
  height: 100%;
  background: url("../img/background-1.jpg") no-repeat center;
  background-size: cover;
  z-index: -9;
}

.wrapper {
  height: 100%;
  overflow: auto;
  margin: 0;
  box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.25);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navigation */

nav {
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

nav ul {
  list-style-type: none;
  margin: 20px;
  padding :0;
}

nav li {
  float: left;
  margin: 10px;
  font-size: larger;
}

nav li a {
  color: rgb(50,50,50);
  font-weight: 700;
}

/* Page content */
.description {
  width: 70%;
  background-color: white;
  padding: 20px;
  box-shadow: 4px 7px 10px 0px rgba(0,0,0,0.75);
  margin-top: 50px;
  word-wrap: break-word;
  word-break: break-word;
  word-spacing: normal;
}

.skills, .experience, .contact {
  width: 70%;
  background-color: white;
  padding: 20px;
  box-shadow: 4px 7px 10px 0px rgba(0,0,0,0.75);
  margin-top: 50px;
  word-wrap: break-word;
  word-break: break-word;
  word-spacing: normal;
  transition: all 0.5s ease;
  opacity: 0;
}

.education {
  width: 70%;
  background-color: white;
  padding: 20px;
  box-shadow: 4px 7px 10px 0px rgba(0,0,0,0.75);
  margin-top: 50px;
  transition: all 0.5s ease;
  opacity: 0;
}

th, td {
  padding: 15px;
  text-align: left;
}

table
{
  margin-left: auto;
  margin-right: auto;
}

.contact, .experience {
  text-align: center;
}

.to-top {
  margin-top: 50px;
  font-size: larger;
}

.to-top a {
  color: rgb(50,50,50);
}

.footer {
  height: 10vh;
}

@media screen and (max-width: 360px) {
  .nav-textbox {
    height: 20vh;
  }
}

@media screen and (max-width: 480px) {
  nav {
    font-size: small;
  }

  nav ul {
    margin: 5px;
  }

  .description, .skills, .experience, .contact, .education {
    width: 90%;
  }
}
